.auth-block{
    width: 230px;
    margin: 10% auto;
}
input[type="submit"] {
    outline: none!important;
}
.sitelink{
    position: absolute;
    top: 10px;
    right: 30px;
    padding-right: 24px;
}
.sitelink>a::after{
    background:url('../img/link.png')no-repeat;
    content: "";
    display: block;
    height: 14px;
    width: 14px;
    position: absolute;
    top: 2px;
    right: 2px;
}
.breadcrumb > li{
    font-size: 16px;
    padding-top: 5px;   
}
.breadcrumb > li img{
    margin-right: 10px;
    margin-top: -5px;   
}
.userinfo-block{
    position: absolute;
    top: 60px;
    right: 30px;
    font-size: 12px;
}
.logout{
    margin-left: 20px;
    float: right;
}
.logout-bottom{
    margin-left: 20px;
    float: right; 
    margin-top: 5px;   
}
.list-group-item{
    border:none;
    background: none;
    border-radius:0!important;
    border-bottom: 1px solid #ccc;
}
.popular li span,.edited li span{
    display: inline-block;
    font-size: 12px;
}
.popular li span.title{
    width: 75%;
}
.popular li span.lastTitle, .edited li span.lastTitle{
    width: 60%;
}
.popular li span.date::before{
    background:url('../img/date.png')no-repeat;
    content: "";
    display: block;
    height: 14px;
    width: 14px;
    float: left;
    margin-right: 4px;
}
ul.edited{
    margin-bottom: 50px;
}
.navbar{
    min-height: 30px;
    background: #ccc;
    border-bottom: 1px solid;
    border-color: #aaa;
}
.navbar-brand{
    height: 30px;
    padding: 5px 15px;
    color: #333!important;
}
.sitelink-bottom{
    position: absolute;
    top:7px;
    right: 180px;
    padding-right: 24px;    
}
.logout-bottom{
    margin-top: 8px;
}
.logout-bottom img{
    margin-top: -2px;
}
.sitelink-bottom>a, .logout-bottom>a{
    color: #333; 
    font-size: 12px;   
}
.sitelink-bottom>a::after{
    background:url('../img/link-bot.png')no-repeat;
    content: "";
    display: block;
    height: 14px;
    width: 14px;
    position: absolute;
    top: -1px;
    right: 2px;
}
.content-block{
    width: 100%;
    min-height:450px;
    margin-bottom: 50px;
}
.maincontent {
    width: 95%;
    margin-bottom: 40px;
}
.messages-warnings, .messages-errors, .messages-success{
    width: 100%;
    padding: 10px 2%;
    margin: 10px 0;
    vertical-align: middle;
}
.messages-warnings div, .messages-errors div, .messages-success div{
    margin:7px 10px;
    display: inline-block;
    font-weight: bold;
    color: white;
}
.messages-warnings{
    background: #fed101;
}
.messages-errors{
    background: #D90005;
}
.messages-success{
    background: #59c93d;
}
.search-block{
    margin: 10px 0;
}
.clearSrch{
    float: left;
    margin-top:7px;
}
.buttons{
    float: right;
    margin: 10px 0;
    text-align: right;
    z-index: 2000;
}
.add, .activate, .deactivate, .delete{
    background-image: url(../img/form/create.png);
    background-repeat: no-repeat;
    background-position: 5px 4px;
    padding-left: 32px;
    font-weight: bold;
}
.activate{
    background-image: url(../img/form/active.png);
}
.deactivate{
    background-image: url(../img/form/deact.png);
}
.delete{
    background-image: url(../img/form/exit.png);
}
a.desc{
    background: url('../img/down.png') right no-repeat;
    padding-right: 24px;    
}
a.asc{
    background: url('../img/up.png') right no-repeat;
    padding-right: 24px;    
}
.pag-container{
    float: right;
    margin-bottom: 50px;
}
.pagination{
    margin: 0;
}
.top-marg{
    margin-top: 20px;
}
.tab-content{
    margin: 15px 0;
}
.tabs{
    margin-bottom: 40px;
}
.radio-switch .bootstrap-switch{
    float: right;    
}
.radio-switch label{
    padding-top:8px;    
}
div.loading, div.loading-images, div.loading-options{
    display: none;
    background: rgba(255,255,255,0.8) url('../img/loading.gif') 50% no-repeat; 
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;  
}
.mrg-load{
    margin-top: 10px;
}
.module-category{
    margin: 10px 0;    
}
.show{
    display: block;
}
.menu,.search,.links,.slider,.comments,.pagelinks,.lang,.currency,.diamond,.stone,.products,.currency,.filters{
    display: none;
}
.no-left-padding{
    padding-left: 0;
}
.switch{
    margin: 25px 0 15px;
}
.margin-left-no{
    margin-left: 0;
}
.margin-top{
    margin-top: 175px;
}
.upload-tpl, .upload-opt, .upload-size{
    margin-top: 25px;
}
.mrg-btn{
    margin-top: 32px;    
}
.mrg-btn-cnt{
    margin-top: 26px;
}
.mrg-btn-opts{
    margin-top:24px;
}
.ajax-bottom{
    margin-bottom:50px;
}
.size-table-margin{
    margin-bottom:20px;
}
table tbody tr.answer{
    background-color: #FF5555;
}
table tbody tr.answer-chain{
    background-color: #FFAEB0;
}
table tbody tr.answer_adm{
    background-color: #ccc;
}
table tbody tr.answered{
    background-color: #bbe6b2;
}
table tbody tr.answer a,table tbody tr.answer-chain a,table tbody tr.answer_adm a,table tbody tr.answered a{
    text-decoration: none;
}
.content-block fieldset {margin: 10px 0 20px; background: #dceddb;border: 2px groove threedface!important;}
.content-block fieldset legend {font-size: 14px; margin:5px 10px; padding:0 5px; font-weight: bold;width: auto;}
.content-block fieldset legend.req {color: #ff0000}
.content-block fieldset div.v {margin: 5px 10px 10px; font-size: 14px; }
.content-block fieldset div.v .info {color: #717171; font-size:11px; margin-top: 5px}
.content-block fieldset div.v span i {font-size: 10px; font-weight: bold; color: #9f2525}
.ui-datepicker{z-index: 9!important;}
.form-control{padding:6px 10px;}
.radios-as-buttons {
    font-family: Arial;
    font-size: 14px;
}
.radios-as-buttons div {
    float: left;
}
.radios-as-buttons input {
    position: absolute;
    left: -9999px;
}
.radios-as-buttons label {
    display: block;
    border-radius:0;
    margin: 0 0 0 -1px;
    padding: 6px 12px;
    border: 1px solid #ddd;
    background: #fafafa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .12);
    cursor: pointer;
}
.radios-as-buttons input:checked + label {
    background: white;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, .2);
}
.radios-as-buttons div:first-child label {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.radios-as-buttons div:last-child label {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.orders tr td:last-child, .orders tr td:first-child{
    color: white;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    background: #eee;
}
.orders tr td:last-child select{
    color: #111;
}
.orders tr{
    border-top:1px solid #fff;
}
.orders tr.new{
    border-bottom:2px solid #75B6C9;
}
.orders tr td:last-child, .orders tr td:first-child{
    width: 3%;
}
.orders tr.new td:last-child, .orders tr.new td:first-child{
    background:#75B6C9;
}
.orders tr.progress{
    border-bottom:2px solid #f04c4c;
}
.orders tr.progress td:last-child, .orders tr.progress td:first-child{
    background:#f04c4c;
}
.orders tr.done{
    border-bottom:2px solid #91CF13;
}
.orders tr.done td:last-child, .orders tr.done td:first-child{
    background:#91CF13;
}
.orders tr.sent{
    border-bottom:2px solid #7be8ff;
}
.orders tr.sent td:last-child, .orders tr.sent td:first-child{
    background:#7be8ff;
}
.orders tr.delivered{
    border-bottom:2px solid #e78fbd;
}
.orders tr.delivered td:last-child, .orders tr.delivered td:first-child{
    background:#e78fbd;
}
.orders tr.canceled{
    border-bottom:2px solid #ccc;
    text-decoration:line-through;
}
.orders tr.canceled td:last-child, .orders tr.canceled td:first-child{
    background:#ccc;
}
.orders td i{
    cursor: pointer;
    font-style: normal;
}
.orders td.middle-size{
    width: 15%;
}
#edit{
    width: 100%;
}
select#edit{
    display: none;
}
.sizes-table td{
    max-width:50px;
}
.sizes-table td input{
    max-width: 35px;
}
.images-preview{
    margin-bottom: 50px;
}
.options-preview{
    height: 110px;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 0 5px;
}
.delete-size{
    border-radius: 50%;
    padding:0px 5px;
    color: white;
    background: red;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    right: 20px;
    top:10px;
}
.delete-size:hover,.delete-size:active,.delete-size:focus{
    text-decoration: none;
    color: #ccc;
    background: #aa1111;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label{
    opacity: 0.6;
    width: 80%;
    position: absolute;
    top: 0;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 10px;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
    outline: none;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

/* style 5 */

.inputfile-5 + label {
    color: #d3394c;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
    color: #722040;
    opacity:1;
}

.inputfile-5 + label figure {
    width: 40px;
    height: 55px;
    background-color: #d3394c;
    display: block;
    position: relative;
    padding: 20px;
    margin: 0 auto;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
    background-color: #722040;
}

.inputfile-5 + label figure::before,
.inputfile-5 + label figure::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}

.inputfile-5 + label figure::before {
    border-top: 20px solid #eee;
    border-left: 20px solid transparent;
}

.inputfile-5 + label figure::after {
    border-bottom: 20px solid #722040;
    border-right: 20px solid transparent;
}

.inputfile-5:focus + label figure::after,
.inputfile-5.has-focus + label figure::after,
.inputfile-5 + label:hover figure::after {
    border-bottom-color: #d3394c;
}

.inputfile-5 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}
.deleteLink{
    cursor: pointer;
}
.products-dropdown{
    width: 100%;
}
.products-dropdown li{
    display: inline-block;
    width: 48%;
    margin: 1%;
}
.products-dropdown li a{
    cursor: pointer;
}
.look-product{
    margin-top: 20px;
    overflow: hidden;
    height:200px;
}
.look-product img{
    width: 100%;
}
.look-product .look_name{
    position: absolute;
    bottom: 20px;
    padding:1px 5px;
    background: rgba(255,255,255,0.7);
    color:#222;
    font-size: 12px;
}
.look-product a.deleteLink{
    position: absolute;
    top:0px;
    right: 5px;
    color: white;
    background: red;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    width: 20px;
    height: 20px;
    line-height: 1.3;
    text-decoration: none;
}
.wardrobe-images img.center-block{
    float: left;
    margin: 10px 20px;
    cursor: pointer;
}